# STM32CubeIDE

Debug/

# Ignore generated build outputs only

Release/*.o
Release/*.d
Release/*.su
Release/*.cyclo
Release/*.elf
Release/*.map
Release/*.list
Release/*.hex
Release/*.bin

# Build files

*.o
*.d
*.su
*.cyclo
*.elf
*.map
*.list
*.hex
*.bin

# Eclipse

.settings/
.metadata/

# Temporary files

*.log
